<html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emailer</title>
  </head>
  <body>
    <table style="width: 100%">
      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0">
          <img
            src="https://trailchalleger.s3.ap-south-1.amazonaws.com/trail-logo.png"
            style="max-width: 500px; width: 100%; margin: 0; padding: 0"
          />
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0">
          <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/first-challengeaccepted.png" style="width: 100%" />
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="padding: 0 30px; margin: 0">
          <p
            style="
              color: #5ab472;
              font-size: 30px;
              margin: 0;
              padding: 0;
              font-weight: 900;
            "
          >
            Ready to begin your challenge? Here’s the basics….
          </p>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0 10px;
              margin: 0;
              font-size: 30px;
              color: #4e4e56;
              font-weight: 900;
            "
          >
            <span style="padding: 0; margin: 0; font-size: 30px; color: #824f1b"
              >1. &nbsp;</span
            >
            Track your progress
          </h2>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px">
          <p
            style="padding: 0 30px; margin: 0; font-size: 20px; color: #4e4e56"
          >
            When you begin hiking, make sure to start tracking your progress on
            the Trail Challenger app. The app will verify that you have hiked
            the actual trail and show your progess. Here’s how you do it:
          </p>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0 30px">
          <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/Group+8%403x.png" style="width: 100%" />
        </td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0 10px;
              margin: 0;
              font-size: 30px;
              color: #4e4e56;
              font-weight: 900;
            "
          >
            <span style="padding: 0; margin: 0; font-size: 30px; color: #824f1b"
              >2. &nbsp;</span
            >
            Stay on track
          </h2>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="height: 20px">
          <p
            style="padding: 0 30px; margin: 0; font-size: 20px; color: #4e4e56"
          >
            As you hike the trail the colour of the trail will change to signify
            your progress. If you stray away from the trail then the trail won’t
            change colour until you return…..so no cheating!!
          </p>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0 30px">
          <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/first-stayonprogress.png" style="width: 100%" />
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0 10px;
              margin: 0;
              font-size: 30px;
              color: #4e4e56;
              font-weight: 900;
            "
          >
            <span style="padding: 0; margin: 0; font-size: 30px; color: #824f1b"
              >3. &nbsp;</span
            >
            Finished hiking ?
          </h2>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="height: 20px">
          <p
            style="padding: 0 30px; margin: 0; font-size: 20px; color: #4e4e56"
          >
            When you are done for the day, tap “Stop” and save your progress.
            Our app will show your progess and you can come back any time to
            continue. When you eventually get to that elusive 100%, make sure
            you tap “Redeem” to claim your medal.
          </p>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0">
          <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/Group+9%403x.png" style="width: 60%" />
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td align="center">
          <div style="height: 5px; background-color: #824f1b; width: 60%"></div>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0 10px;
              margin: 0;
              font-size: 60px;
              text-align: center;
              color: #5ab472;
              font-weight: 700;
            "
          >
            TIPS
          </h2>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td class="bg_white" style="padding: 1em 2.5em">
          <table
            align="center"
            role="presentation"
            cellspacing="0"
            cellpadding="0"
            border="0"
            width="100%"
            style="margin: auto"
          >
            <tr style="vertical-align: center; text-align: center">
              <td width="280">
                <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/Group+10%403x.png" style="width: 50%" />
              </td>
              <td align="left" valign="top" style="padding: 0 10px">
                <h2
                  style="
                    margin-bottom: 13px;

                    line-height: 34px;
                    font-style: normal;
                    font-weight: 900;
                    color: #824f1b;
                  "
                >
                  Lost GPS Signal?
                </h2>
                <h2
                  style="
                    margin-bottom: 13px;

                    line-height: 34px;
                    font-style: normal;
                    font-weight: 500;
                    color: #4e4e56;
                  "
                >
                  Did you lose signal on the hike, or you turned on your “Low
                  Battery” mode without realising it will stop your GPS? Don’t
                  worry, it’s not a wasted day, drop us an email with your
                  information and our tech wizards will authenticate your hike
                  and update your progress.
                </h2>
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td class="bg_white" style="padding: 1em 2.5em">
          <table
            align="center"
            role="presentation"
            cellspacing="0"
            cellpadding="0"
            border="0"
            width="100%"
            style="margin: auto"
          >
            <tr
              style="
                vertical-align: baseline;
                vertical-align: center;
                text-align: center;
              "
            >
              <td width="280">
                <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/first-yas.png" style="width: 50%" />
              </td>
              <td align="left" valign="top" style="padding: 0 10px">
                <h2
                  style="
                    margin-bottom: 13px;

                    line-height: 34px;
                    font-style: normal;
                    font-weight: 900;
                    color: #824f1b;
                  "
                >
                  Use Strava and other apps simultaniously.
                </h2>
                <h2
                  style="
                    margin-bottom: 13px;

                    line-height: 34px;
                    font-style: normal;
                    font-weight: 500;
                    color: #4e4e56;
                  "
                >
                  You can run several GPS apps at the same time. So you can
                  still record your time on Strava while running Trail
                  Challenger, and insurance apps like Yas.
                </h2>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
