<html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emailer</title>
  </head>
  <body>
    <table style="width: 100%">
      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0">
          <img
            src="https://trailchalleger.s3.ap-south-1.amazonaws.com/trail-logo.png"
            style="max-width: 500px; width: 100%; margin: 0; padding: 0"
          />
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="text-align: center; width: 100%; margin: 0; padding: 0">
          <img src="https://trailchalleger.s3.ap-south-1.amazonaws.com/last-thankyou.png" style="width: 100%" />
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 39px;

              color: #4e4e56;
            "
          >
            Dispatch
          </h2>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 29px;
              font-weight: 500;
              color: #4e4e56;
            "
          >
            We’ll dispatch your product within two working days.
          </h2>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 39px;

              color: #4e4e56;
            "
          >
            Shipping
          </h2>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 29px;
              font-weight: 500;
              color: #4e4e56;
            "
          >
            If you selected SF tracking, then we’ll send you your tracking
            number when it has been sent. Please allow 2-4 working days for
            delivery.
            <tr>
              <td style="height: 20px"></td>
            </tr>
            <tr>
              <td style="height: 20px"></td>
            </tr>
          </h2>
        </td>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 29px;
              font-weight: 500;
              color: #4e4e56;
            "
          >
            For orders sent via Hong Kong post, please allow 5 - 9 working days.
          </h2>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 39px;

              color: #4e4e56;
            "
          >
            Contact Us
          </h2>
        </td>
      </tr>
      <tr>
        <td style="height: 20px"></td>
      </tr>

      <tr>
        <td style="padding: 0 30px; margin: 0">
          <h2
            style="
              padding: 0;
              margin: 0;
              font-size: 29px;
              font-weight: 500;
              color: #4e4e56;
            "
          >
            If you have any questions, please feel free to contact us at
            info@hktrails.com
          </h2>
        </td>
      </tr>

      <tr>
        <td style="height: 20px"></td>
      </tr>
    </table>
  </body>
</html>
