<html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Emailer</title>
      <!-- <style>
      @media (max-width:768px) {
        .image{
margin-top: 0px !important;
margin-left: 0% !important;
width: 280px !important;
            }
            .heading{
              margin-top: 10px !important;
            }
      }
   
    </style> -->
    </head>

    <body>
      <table style="width: 100%">
        <tr>
          <td style="text-align: center; width: 100%; margin: 0; padding: 0">
            <img
              src="https://trailchalleger.s3.ap-south-1.amazonaws.com/trail-logo.png"
              style="max-width: 500px; width: 100%; margin: 0; padding: 0"
            />
          </td>
        </tr>
        <tr>
          <td style="height: 20px"></td>
        </tr>
        <tr>
          <td style="text-align: center; width: 100%; margin: 0; padding: 0">
            <img
              src="https://trailchalleger.s3.ap-south-1.amazonaws.com/second-welcome.png"
              style="width: 100%"
            />
          </td>
        </tr>
        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td style="padding: 0 30px; margin: 0">
            <h2
              style="
                padding: 0;
                margin: 0;
                font-size: 39px;

                color: #824f1b;
              "
            >
              Now you have signed up, let me show you what you can do….
            </h2>
          </td>
        </tr>
        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td style="padding: 0 30px; margin: 0">
            <h2
              style="
                padding: 0;
                margin: 0;
                font-size: 39px;

                color: #4e4e56;
              "
            >
              Pick a challenge
            </h2>
          </td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td style="padding: 0 30px; margin: 0">
            <h2
              style="
                padding: 0;
                margin: 0;
                font-size: 29px;
                font-weight: 300;
                color: #4e4e56;
              "
            >
              Are you ready to create an epic fitness goal and conquer one of
              Hong Kong’s long trails? Select the challenge, sign up and off you
              go. Complete the trail all in one day, or over many days. When you
              finally complete the whole trail you will earn a
              <span
                style="padding: 0; margin: 0; font-size: 29px; color: #824f1b"
                >Real Medal. &nbsp;</span
              >
            </h2>
          </td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td
            style="text-align: center; width: 100%; margin: 0; padding: 0 30px"
          >
            <img
              src="https://trailchalleger.s3.ap-south-1.amazonaws.com/second-medals.png"
              style="width: 100%"
            />
          </td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td style="padding: 0 30px; margin: 0">
            <h2
              style="
                padding: 0;
                margin: 0;
                font-size: 39px;

                color: #4e4e56;
              "
            >
              Set your best time on Time Trails (psst…this is free!)
            </h2>
          </td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td style="padding: 0 30px; margin: 0">
            <h2
              style="
                padding: 0;
                margin: 0;
                font-size: 29px;
                font-weight: 400;
                color: #4e4e56;
              "
            >
              Doing one of Hong Kong’s famous hikes? Head over to “Time Trails”
              on the app and start the tracker. Once you have finished see where
              you come on the leaderboard.
            </h2>
          </td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>

        <tr>
          <td
            style="text-align: center; width: 100%; margin: 0; padding: 0 30px"
          >
            <img
              src="https://trailchalleger.s3.ap-south-1.amazonaws.com/second-pathflow.png"
              style="width: 100%"
            />
          </td>
        </tr>

        <tr>
          <td style="height: 60px"></td>
        </tr>

        <tr>
          <td style="padding: 0 30px; margin: 0">
            <h2
              style="
                padding: 0;
                margin: 3px;
                font-size: 32px;

                color: #4e4e56;
              "
            >
              Engage with the community
            </h2>
          </td>
        </tr>

        <tr style="vertical-align: center; text-align: center"></tr>
        <tr style="display: flex">
          <td style="padding: 0 30px; margin-top: 30px" class="heading">
            <h2
              style="
                padding: 0;
                margin: 0;
                font-size: 29px;
                font-weight: 500;
                color: #4e4e56;
              "
            >
              An exclusive community of Trail Challengers.<br /><br />
              Inspire others to hit their goals by sharing your<br />
              best pictures, tricks and tips on our<br />
              community board. <br /><br />
              Like, comment… you know, all the usual social<br />
              media stuff!
            </h2>
          </td>
          <td width="300 ">
            <img
              class="image"
              style="width: 380px; margin-left: 50%; margin-top: 10px"
              src="https://trailchalleger.s3.ap-south-1.amazonaws.com/second-page-comments.png"
            />
          </td>
        </tr>

        <tr>
          <td style="height: 20px"></td>
        </tr>
        <tr>
          <td align="center">
            <div
              style="height: 4px; background-color: #824f1b; width: 60%"
            ></div>
          </td>
        </tr>
      </table>
    </body>
  </html>
</html>
